{% block body_menu_top %}
    <div class="ui inverted menu small no_radius" id="top_bar">
        <a class="item" href="/">Home</a>
        {% if is_member() %}
            <a class="item" href="{{ url('profilePackages') }}">Your Profile ({{ member.displayname }})</a>
            <a class="item" href="{{ url('profileStarred') }}">Starred Extensions</a>
            <a class="item" href="{{ url('authenticationLogout') }}">Logout</a>
        {% else %}
            <a class="item" href="{{ url('authenticationLogin') }}">Login</a>
        {% endif %}
        <a class="item" href="{{ url('submit') }}">Submit an Extension</a>
    </div>

    <div class="ui top menu sticky no_radius">

        <div class="left menu">
            <a class="browse item"> Browse Extensions <i class="dropdown icon"></i> </a>
            <div class="ui flowing basic admission transition popup">
                <div class="ui three column relaxed divided grid">
                    <div class="column">
                        <h4 class="ui header">Extensions</h4>
                        <div class="ui link list">
                            <a class="item" href="/browse?q=social&type=bolt-extension">Social</a> <a class="item"
                                                                                                      href="/browse?q=comment&type=bolt-extension">Comments</a>
                            <a class="item" href="/browse?q=seo&type=bolt-extension">SEO</a> <a class="item"
                                                                                                href="/browse?q=form&type=bolt-extension">Forms</a>
                        </div>
                    </div>
                    <div class="column">
                        <h4 class="ui header">Themes</h4>
                        <div class="ui link list">
                            <a class="item" href="/browse?q=blog&type=bolt-theme">Blog</a> <a class="item"
                                                                                              href="/browse?q=responsive&type=bolt-theme">Responsive</a>
                            <a class="item" href="/browse?q=portfolio&type=bolt-theme">Portfolio</a> <a class="item"
                                                                                                        href="/browse?q=foundation&type=bolt-theme">Foundation</a>
                            <a class="item" href="/browse?q=bootstrap&type=bolt-theme">Bootstrap</a>
                        </div>
                    </div>
                    <div class="column">
                        <h4 class="ui header">Other Links</h4>
                        <div class="ui link list">
                            <a href="/browse?order=date&type=" class="item">Most recent</a>
                            <a href="/browse?order=downloads&type=" class="item">Most dowloaded</a>
                            <a href="/browse?order=stars&type=" class="item">Most starred</a>
                            <a href="/collections" class="item">Collections</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="right menu">
            <form class="ui right aligned category search item" onsubmit="return tsearch();" style="margin-bottom: 0;">
                <div class="ui transparent icon input">
                    <input class="prompt" type="text" id="txtSearch" placeholder="Search extension...">
                    <i class="search icon"></i>
                </div>
                <div class="results"></div>
            </form>
            <script type="text/javascript">
                function tsearch() {
                    window.location = '/browse?q=' + document.getElementById('txtSearch').value;
                    return false;
                }
            </script>
        </div>
    </div>
{% endblock body_menu_top %}
