
<div class="ui icon buttons right floated main menu">
    {% if boltthemes and boltthemes.active %}
        <a class="ui orange button"
           href="{{ boltthemes.preview_page }}?utm_source=bolt-extension-store&utm_medium=detailpage&utm_term=livepreview&utm_content=theme-livepreview&utm_campaign={{ package.title|url_encode }}"
           target="_blank"
           onclick="ga('send', 'event', {
                   eventCategory: 'Package',
                   eventAction: 'Live Preview',
                   eventLabel: '{{ package.title }}'
                   });"> View Live Preview </a>
    {% endif %}

    <button class="ui green button">FREE</button>
    <button class="ui toggle button"
            id="copy-button"
            data-content="{{ package.name }}"
            data-title="Click to copy the package name"
            data-clipboard-text="{{ package.name }}"><i class="alternate copy icon"></i> Copy to clipboard
    </button>
</div>

{% if is_member() %}
    {% set member = member() %}
    {% if member.guid == package.account_id %}
        <div class="ui icon buttons right floated main menu">
            <a href="{{ url('edit',{'package':package.id}) }}" class="ui primary button"> Edit<i class="right wrench icon"></i> </a>
            <a href="{{ url('update',{'package':package.id}) }}" class="ui orange button"> Update<i class="right repeat icon"></i> </a>
            {% if webhook and not webhook.latest %}
                <form action="{{ url('hookCreator') }}" method="post">
                    <input type="hidden" name="user" value="{{ webhook.user }}">
                    <input type="hidden" name="repo" value="{{ webhook.repo }}">
                    <input type="hidden" name="token" value="{{ webhook.token }}">

                    {% if webhook.token %}
                        <button type="submit" class="ui green button">Add GitHub webhook<i class="right wrench icon"></i></button>
                    {% else %}
                        <button type="submit" disabled="disabled" class="ui green button">Add GitHub webhook<i class="right wrench icon"></i></button>
                    {% endif %}

                </form>
            {% endif %}
        </div>
    {% endif %}
{% endif %}
