<div class="sixteen wide column">
    {% if suggested %}
        <h2 class="ui left floated header">Suggested Packages</h2>
        <div class="ui clearing divider"></div>

        <div class="ui two column grid">
            {% for suggest in suggested %}
                {% if suggest.package != package %}
                    {{ _self.package_element(suggest.package) }}
                {% endif %}
            {% endfor %}
        </div>

        <br>
    {% endif %}
</div>

<div class="sixteen wide column">
    <h2 class="ui left floated header">Related</h2>
    <div class="ui clearing divider"></div>

    <div class="ui two column grid">
        {% for relation in related %}
            {% if relation != package %}
                {{ _self.package_element(relation) }}
            {% endif %}
        {% endfor %}
    </div>
</div>

{% macro package_element(package) %}
    <div class="ui sixteen column grid">
        <div class="ui items">
            <div class="item">
                <img class="ui avatar image" src="{{ packageIcon(package) }}">
                <div class="content">
                    <a class="header" href="{{ url('viewPackage',{
                        'packageAuthor': package.name|split('/')|first,
                        'packageName': package.name|split('/')|last
                    }) }}">{{ package.title }}</a>
                    <p>{{ package.name }}</p>
                    <div class="description">
                        <p>{{ package.description }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endmacro %}
