<div class="ten wide column">
    <h2 class="ui header">
        <img class="ui rounded image" src="{{ packageIcon(package) }}">
        <div class="content">
            {{ package.title }}
            {% set packageAuthor = member(package.account_id) %}
            <div class="sub header" title="{{ packageAuthor.displayName }}">by {{ package.authors|join(', ') }}</div>
        </div>

        {{ include('partials/package/button/_usage_cost.twig') }}
        {{ include('partials/package/button/_boltthemes_live_preview.twig') }}
    </h2>
</div>


<div class="six wide column right floated right aligned">
    <div class="ui right floated main menu">
        {{ include('partials/package/button/_primary_downloads.twig') }}
        {{ include('partials/package/button/_primary_stars.twig') }}
        {{ include('partials/package/button/_primary_source.twig') }}
    </div>

    {{ include('partials/package/button/_copy_clipboard.twig') }}
</div>
