<div class="eight wide column">
    <h2 class="ui header">
        <img class="ui rounded image" src="{{ packageIcon(package) }}">
        <div class="content">
            {{ package.title }}
            <div class="sub header">by {{ package.authors|join(', ') }}</div>
        </div>
    </h2>
</div>


<div class="right floated right aligned eight wide column">

    <div class="sixteen wide column divided">
        {{ include('partials/package/_buttons_primary.twig') }}
    </div>
    <div class="sixteen wide column">
        {{ include('partials/package/_buttons_secondary.twig') }}
    </div>

</div>
