{% extends "layout.twig" %}

{% block header_title %} | Collections | {{ record.title }}{% endblock %}

{% block content %}
    <h1>{{ record.title }}</h1>
    <p>{{ record.description }}</p>

    <div class="ui divided items">
        {% for item in record.items %}
            {% set package = package(item.repeatextension) %}
            <div class="item">
                <div class="ui tiny image">
                    <img src="{{ packageIcon(package) }}">
                </div>
                <div class="content">
                    <a class="header" href="{{ url('view',{'package':package.id}) }}">{{ package.title }}</a>
                    <div class="description">
                        <p>{{ item.repeatdescription|raw }}</p>
                    </div>
                    <div class="extra">
                        <a href="{{ url('view',{'package':package.id}) }}" class="ui right floated primary button"> Details
                            <i class="right chevron icon"></i> </a>
                        <div class="ui label">
                            {% if "bolt-extension" == package.type %}
                                Extension
                            {% else %}
                                Theme
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
