{%- if is_member() %}{% set member = member() %}{% endif -%}
<!DOCTYPE html>
<html>
<head>
    {{ include('partials/_layout_header.twig') }}
</head>

<body>

{{ include('partials/_layout_menu_top.twig') }}

{% block header_splash %}{% endblock %}

<div class="ui container stepup_top">
    {{ include('partials/_messages.twig') }}
    {% block content %}{% endblock %}
</div>

{{ include('partials/_layout_menu_bottom.twig') }}

{{ include('partials/_layout_footer.twig') }}

</body>
</html>
