<!DOCTYPE html>
<html>
<head>
    {{ include('partials/_head.twig') }}
</head>

<body>

    <div id="doc" class="yui-t7">
        {{ include('partials/_title.twig') }}

        <div id="bd">
            <div class="yui-g">

                Filter by package name:
                <input type="text" id="search" autocomplete="off" title="" autofocus />

                <div id="package-list">

                    {% import "partials/_package_macros.twig" as macros %}

                    {% for name, package in packages %}
                        {{ macros.package_table(name, package) }}
                    {% endfor %}

                </div>
            </div>
        </div>

        {{ include('partials/_footer.twig') }}

    </div>

    {{ include('partials/_script.twig') }}

</body>
</html>
