<!DOCTYPE html>
<html>
<head>
    {{ include('partials/_head.twig') }}
</head>

<body>

<div id="doc" class="yui-t7">

    {{ include('partials/_title.twig') }}

    <div id="bd">
        <div class="yui-g">

            {{ include('partials/_search.twig') }}

            <div id="package-list">

                {% import "partials/_package_macros.twig" as macros %}

                {% for name, package in packages %}
                    {{ macros.package_table(name, package, dependencies) }}
                {% endfor %}

            </div>
        </div>
    </div>

    {{ include('partials/_footer.twig') }}

</div>

<script>
    {{ include('js/jquery-2.2.4.min.js') }}
    {{ include('js/moment-2.13.0.min.js') }}
</script>

{{ include('partials/_script.twig') }}

</body>
</html>
